<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/gh/xwlrbh/HandyEditor@1.9.0/HandyEditor.min.js"></script>
    <script>
        var he = HE.getEditor('editor',{
            width : '300px',
            height : '400px',
            autoHeight : true,
            autoFloat : false,
            topOffset : 0,
            uploadPhoto : true,
            uploadPhotoHandler : 'php/uploadPhoto.php',
            uploadPhotoSize : 0,
            uploadPhotoType : 'gif,png,jpg,jpeg',
            uploadPhotoSizeError : '不能上传大于××KB的图片',
            uploadPhotoTypeError : '只能上传gif,png,jpg,jpeg格式的图片',
            uploadParam:{},
            lang : 'zh-jian',
            skin : 'HandyEditor',
            externalSkin : '',
            item : ['bold','italic','strike','underline','fontSize','fontName','paragraph','color','backColor','|','center','left','right','full','indent','outdent','|','link','unlink','textBlock','code','selectAll','removeFormat','trash','|','image','expression','subscript','superscript','horizontal','orderedList','unorderedList','|','undo','redo','|','html','|','about']
        });
    </script>
</head>
<body>
    <he></he>

</body>
</html>
